/* 
-------------------
1. Variables 
-------------------
*/

:root {
    --blue_darker: #2979B9;
    --creamwhite: #F9F7F3;
    --dark_black: #222525;
    --green_logo_color: #3FA752;
    --black: #000000;
    --gray: #ECEBEA;
    --white: #ffffff;
}