:root {
    --blue_darker: #2979B9;
    --creamwhite: #F9F7F3;
    --dark_black: #222525;
    --green_logo_color: #3FA752;
    --black: #000000;
    --gray: #ECEBEA;
    --white: #ffffff;
}
* {
    box-sizing: border-box;
}

html {
    background-color: var(--creamwhite);
    font-family: "Dosis", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    position: relative;
}
body {
    margin: 0px;
    font-family: "Epilogue", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: medium;
    background-color: var(--creamwhite);
    color: var(--dark_black);
}
.content_wrap { /* add a page margin */
    width: 80%;
    margin: 0px auto;
    max-width: 1600px;
}

.button { /*uni code for buttons - then add other classes for color and other specifics */ 
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    padding: 1rem 1rem;
    width: fit-content;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.padding-top2rem {
    padding-top: 2rem;

}

/* color classes - to use for color for buttons and also other places if fitted */
.b_blue {
    background-color: var(--blue_darker);
    color: var(--creamwhite);
  }
.b_green {
    background-color: var(--green_logo_color);
    color: var(--white);
  }
.gray {
    background-color: var(--gray);
}
.text_black {
    color: var(--dark_black);
}
.text_white {
    color: var(--white);
}
.dark_background {
    background-color: var(--dark_black);
    width: 100%;
  }
.creamwhite_background {
    background-color: var(--creamwhite);
    width: 100%;
}
.white_background {
    background-color: var(--white);
    width: 100%;
}
.green_underline {
    border-bottom: 3px solid var(--green_logo_color);
    width: fit-content;
}
.blue_underline {
    border-bottom: 3px solid var(--blue_darker);
    width: fit-content;
}
.border_green {
    border: 1rem solid var(--green_logo_color);
}
.border_blue {
    border: 1rem solid var(--blue_darker);
}
/* -- */
/* font weight */
.bold {
    font-weight: 600;
}
/* font size */
.fontsize1_1rem {
    font-size: 1.1rem;
}
.big_title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Epilogue";
    margin: 0.2rem;
}
.padding1rem {
    padding: 1rem;
}
/* width / height */
.w_fit_content {
    width: fit-content;
}
.w_100 {
    width: 100%;
}
/* --- */
.hidden_element {
    display: none;
}
a {
    text-decoration: none;
}
.space {
    padding: 2rem 0;
}
.button:hover,  .triobutton:hover {
    background-color: var(--gray);
    color: var(--black);
  }
.images {
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.section_padding {
    padding: 1rem 0 3rem;
}
.header_titlebox { /*h2 title box */
    font-size: 1.8rem;
    font-weight: 400;
    width: fit-content;
    padding: 0.5rem 1.6rem 0.6rem 10.4% ;
    margin: 2rem 0;
}
.flex_spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.flexwrap { /*used for explore section in visit us page */
    display: flex;
    flex-wrap: wrap;
}
.grid3fit {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem 1rem;
}
.gridfit250 {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem 1rem;
}
.grid3fill {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
}
.gridefit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
    gap: 1rem;
}
.gridcenter {
    justify-content: center;
    align-items: center;
}
.gap1rem {
    gap: 1rem;
}
.productbox {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 5px solid transparent;
}
.instagram {
    content: url(Icons/🦆\ icon\ _Instagram\ Square_.svg);
    margin: 0;
}
.instagram:hover {
    content: url(Icons/🦆\ icon\ _Instagram\ Square_hover.svg);
}
.facebook {
    content: url(Icons/🦆\ icon\ _Facebook\ Square\ icon_.svg);
    margin: 0;
}
.facebook:hover {
    content: url(Icons/🦆\ icon\ _Facebook\ Square\ icon_hover.svg);
}
.social_media {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin: 1rem;
}

.links a{
    font-size: 0.8rem;
    color: var(--dark_black);
}
.links_f a:nth-child(1) {
    padding: 0.6rem 0rem 0.4rem 0.5rem;
}
.links a p, .links a h4 {
    margin: 0.5rem;
    padding: 0.4rem 0rem 0.4rem 0.5rem;
    width: 80%;
    font-weight: 400;
}
.links a p:hover, .links a h4:hover {
    background-color: var(--gray);
}
/*newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter legend,  .newsletter{
    font-family: "Dosis", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.3rem;
}
input, textarea {
    border: none;
    background-color: var(--gray);
    padding: 0.4rem;
    margin: 0.2rem 0;
    border-radius: 3px;
}
input:focus , textarea:focus {
    outline: 1px solid var(--dark_black);
}
label {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.2rem;
}
button {
    border: none;
    background-color: none;
}
.checkbox {
    content: url(/Icons/checkbox.svg);
    margin-right: 0.2rem;
}
.checkbox:hover {
    content: url(Icons/checkboxhover.svg);
}
.checkbox:checked {
    content: url(Icons/checkboxchecked.svg);
}

/* Header code //////////////////////////////////////////////////////////////////////*/

/*///  nav /// */
.sticky_header {
    position: sticky;
    top: -1rem;
    z-index: 100;
}
.header_logo {
    position: absolute;
    background: url(images/open-science-735787-removebg-preview.png), var(--creamwhite) 50% / cover no-repeat;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
    margin-top: 1rem;
    left: 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 99;
}
.floating_nav {
    position: absolute;
    right: 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
.nav_right li, .nav_right a{
    display: inline-flex;
  }
  .nav_right {
    display: flex;
    background-color: var(--creamwhite);
    width: fit-content;
    right: 2%;
    margin : 1rem 0;
    padding: 0 2rem;
    font-size: 1.125rem;
    font-family: "Epilogue", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    
  }
.nav_right a {
    display: flex;
    text-decoration: none;
    color: var(--dark_black);
    padding: 0.625rem;
    border-bottom: 2px solid var(--creamwhite);
  }
  .nav_right ul{
    padding: 0;
  }
  
  .nav_right a:hover {
    border-bottom: 2px solid var(--green_logo_color);
  }
  .active_page {
    color: var(--black);
    font-weight: 500;
  }
  #menu_checkbox, .hamburger_icon {
    display: none;
  }
 
  /* nav menu stop */

/*footer code */
footer {
    border-top: 1px solid var(--dark_black);
}
.f_boxes {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
.f_boxes_f {
    flex: 1;
}
.f_boxes_f:nth-child(4) {
    align-self: center;
}
.csm_i {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.csm_i p {
    margin: 0;
}
.contact_us, .csm_spes .links a:nth-child(1) {
    margin: 1rem 0;
}
.open_hours p, .contact_us p, .boxmargin .item_l, .boxmargin .ho_day_t{
    margin: 0.2rem;
}
.item {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.ho_day_t {
    padding-left: 0.5rem ;
}
.news_b {
    display: flex;
    margin: 1rem auto;
    align-items:center;

}
.send_b {
    font-size: 0.8rem;
    padding: 0.5rem;
}
.center_n {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*Homepage ////////////////////////////////////*/

/*Header*/
#header_homepage {
    width: 100%;
    height: 100vh;
}
#header_page {
    height: fit-content;
    padding: 0;
}
#header_info {
    height: fit-content;
    padding: 0;
    padding-bottom: 3rem;
}
.header_text_h { /*home page*/
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header_text_h h2 { /*home page*/
    font-weight: 400;
}
.header_text_o { /*other pages */
    margin: 0;
    display: flex;
    height: 100%;
    padding: 1.4rem 0 0 10% ;
}
.header_text_o h1 { /*other pages */
    text-align: left;
    margin-top: 6rem;
    text-transform: uppercase;
}
.headerline {
    background: var(--blue-playful, #3498DB);
    width: 100%;
    height: 0.3125rem;
}

.header_image {
    background-color: var(--dark_black);
    background: linear-gradient(46deg, rgba(52, 152, 219, 0.60) 0%, rgba(86, 27, 73, 0.60) 47.40%, rgba(63, 167, 82, 0.60) 100%), url(images/toa-heftiba-412579.jpg), lightgray 50% / cover no-repeat;
    background-size:cover;
    background-position: 50%;
}
.header_text {
    color: var(--creamwhite);
}
body h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    margin: 0.5rem;
    color: var(--creamwhite);
}
.header_p {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

/*  section info */
.section_buttons {
    height: 15rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}
.info_box {
    position: absolute;
    display: flex;
    left: 0;
}
.I_height img {
    height:100%;
    object-fit: contain;
    padding-left: 10vw;   /*fix - change this for smaller screens or change buttons to be in a column*/
}
.I_height {
    height: 1.83rem;
    margin: 0;
    background-color: var(--gray);
    box-sizing: content-box;
}
.triangle {
    width: ;
    height: 0rem;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 2rem solid var(--gray);
  }

  .triobuttons {
    display: flex;
    margin: auto 0;
    max-width: 1000px; 
    justify-content: center;
    margin: auto;
    max-width: 80%;
  }
  .triobutton {
    width: 14rem; 
    height: 1rem;
    margin: 0 2%;
    box-sizing: content-box;
    align-self: center;
  }

  /* homepage 2 dark area //*/
  .h_section2 {
    display: flex;
  }
  .child_painting {
    background-image: url(images/billetto-editorial-334686.jpg);
    background-size: cover;
    background-position-x: right;
    width: 30rem;
    height: 20rem;
    flex: 2;
    margin: 2rem 0;
  }
  .h_section2_info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex:1; 
    margin: 1rem;
  }
  .h_section2_info p {
    margin: 1rem auto;
    width: 90%;
  }
  .human_body {
    background-image: url(images/samuel-zeller-113381.jpg);
    background-size: cover;
    background-position: 50%;
    flex: 1;
    margin: 2rem 0;
  }

  /* homepage news section */

.product_img {
    height: 40vh;
    overflow: hidden;
    }
.product_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.productbox h3, .productbox p {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0.4rem 0 0.2rem 0;
    border-bottom: 4px solid var(--green_logo_color);
}
.productbox:hover {
    border: 5px solid var(--green_logo_color);
    background-color: var(--green_logo_color);
}

/* Homepage explore sextion */
.h_s_explore {
    background-color: var(--white);
    padding: 2% 0 0 0;
}
.explore_box {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
}
.explore_box h3 {
    position: absolute;
    z-index: 50;
}
.explore_text {
    top: 10px;
    left: 14px;
    padding: 1rem 2rem;
    font-family: "Epilogue", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.explore_box:hover .explore_text {
    background-color: var(--blue_darker);
    color: var(--white);
    font-weight: 300;
}

.explore_box .product_img img{
    position: absolute;
    width: 97%;
    height: 97%;
    top: 10px;
    left: 14px;
}
.explore_box:hover .product_img img {
    transform: translate(-12px, -10px);
}
.black_square {
    background-color: var(--dark_black);
    position: absolute;
    width: 97%;
    height: 97%;
    top: -16px;
    left: -40px;
}
.explore_box:hover .black_square {
    transform: translate(14px, 10px);
    background-color: var(--blue_darker);
}

/* homepage exhibiton spaces */
.h_s_exhibition_s {
    padding-top: 1rem;
    
}

/* Events and exhibits page /////////////////////////////////////////////////////////////////*/

.remarea {
    height: 2rem;
    width: 100%;
    position: relative;
    background-color: var(--green_logo_color);
}
.newsbox, .exhibitbox {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}
.newsbox .title {
    border-bottom: 5px solid var(--green_logo_color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 0;
    position: relative;
    z-index: 1;
}
.exhibitbox .title {
    position: absolute;
    background-color: var(--white);
    padding: 0.6rem 1rem;
    top: -2.3rem;
    left: 1rem;
    font-size: 1.2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.newsbox p, .exhibitbox p {
    margin: 0.5rem 1rem 1rem;
}
.newsbox_img {
    position: relative;
    margin-top: auto;
    padding-top: 1rem;
}
.newsbox_img h3 {
    
}
.event_date {
    margin: 0;
    position: absolute;
    padding: 0.7rem 1rem;
    top: -0.4rem;
    right: 2%;
    z-index: 99 ;
    font-weight: 500;
    color: var(--white);
    font-size: 1.3rem;
}
.celso {        
    width: 100%;
    height: 40vh;
    background: linear-gradient(180deg, #222525 0%, rgba(34, 37, 37, 0.00) 50.20%, #222525 95.17%), url(images/celso-405219.jpg), lightgray 50% / cover no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

/* Information page ///////////////////////////////////////////////////////////////*/
.grid3wrap {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1rem 1rem;
}
.g_one {
    grid-column: 1;
    grid-row: 1;
}
.g_two {
    grid-column: 1;
    grid-row: 2/3;
}
.g_three {
    grid-column: 2;
    grid-row: 1/3;
}
.g_four {
    grid-column: 3;
    grid-row: 1/3;
}
.info_img, .contact_img { /* fix?*/
    flex: 2;
    height: 50vh;
    overflow: hidden;
    }
.info_img img, .contact_img img { /* fix?*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.group_info {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--creamwhite);
    margin: auto 0;
    flex: 1;
}
.text_img_group {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}


/* Visit us page ////////////////////////////////////////////////////////*/

.visit_g_one { /*opening hours*/
    grid-column: 2/3;
    grid-row: 1;
}
.visit_g_two { /*picture*/
    grid-column: 1;
    grid-row: 1/3;
}
.visit_g_three { /*prices */
    grid-column: 3;
    grid-row: 1/3;
}
.visit_g_four { /*button */
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visit_g_four_spes {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}

.map_icon::before {
    content: url(Icons/pin_icon.svg);
    padding-right: 1rem;
}
.hoverlink:hover {
    font-weight: 600;
    cursor: pointer;
}
.science_img {
    width: 100%;
    height: 100%;
    object-fit: fit;
}
.science_img img {
    object-position: 20%;
}
.visitus_page:hover .product_img img{
    transform: none;
}
.visitus_page:hover .black_square{
    transform: none;
    background-color: var(--black);
}
.visitus_page .explore_box {
    width: 20rem;
}
.visitus_page:hover .explore_text {
    background-color: var(--gray);
    color: var(--dark_black);
    font-weight: 400;
    cursor:default;
}

/* About us page ////////////////////////////////////////////////////////*/

.about_us_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width: 2000px) {
    .header_titlebox {
        padding-left:11vw;
    }
    html { 
        font-size: 20px; 
    }
}
@media (min-width: 1600px) {
    .flexcenter {
        display: flex;
        justify-content: center;
    }
    .flexcenter1{
        flex: 2;
    }
    #about_us_section .about_us_text , #contact_us_section .contact_us_text {
        flex: 1;
    }
    #about_us_section .image,  #contact_us_section .image {
        flex: 2;
    }

}
@media (max-width:1150px) {
    .triobuttons {
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
    }
    .triobutton {
        width: 80%;
    }
}

@media (max-width:940px) {
    .header_logo {
        width: 4rem;
        height: 4rem;
        top: 0.5rem;
        position: absolute;
        margin-top: 1rem;
    }
    /* hamburger nav menu  start*/
    .nav_right {
        display: none;
    }
    .hamburger_icon {
        position: absolute;
        display: flex;
        content: url(Icons/V_hamburger.svg);
        background-repeat: no-repeat;
        background-color: var(--creamwhite);
        padding: 1rem;
        right: 2%;
        margin-top: 2rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        z-index: 101;
      }
    
    #menu_checkbox:checked~.hamburger_icon {
        content: url(Icons/V_hamburger_open.svg);
    }
    .nav_right {
        margin: 0;  
        padding: 0;
        overflow-y: auto;
        height: 60vh ;
    }
    .nav_right ul li {
        padding-left: 1rem;
    }
    .floating_nav,.nav_right    {
        position: relative;
        scroll-behavior: smooth;
    }
    .floating_nav {
        background-color: var(--creamwhite);
    }
    #menu_checkbox:checked~.nav_right {
        position: relative;
        display: flex;  
        max-height: fit-content;
        left: 0px;
        width: 100%;
        top: 6rem;
    }
    .nav_right li, .nav_right ul {
        display: block;
        width: 95%;
    }
    .nav_right li {
        height: 3.5rem;
    }
    .floating_nav {
        left: 0px;
    }
    .scroll {
        
    }
    /* hamburger meny stop */

    /* visit us page grid */
    .visit_g_one, .g_two { /*opening hours, accessibility*/
        grid-column: 2/3;
        grid-row: 1;
    }
    .visit_g_two, .g_three  { /*picture, prices*/
        grid-column: 1;
        grid-row: 2/3;
    }
    .visit_g_three, .g_one { /*prices , opening hours */
        grid-column: 1;
        grid-row: 1/2;
    }
    .visit_g_four, .g_four{ /*button, events and exhibits */
        grid-column: 2;
        grid-row: 2;
    }
}

@media (max-width:760px) {
    .flex_spacebetween {
        flex-direction: column;
    }
    .gridefit {
        display: flex;
        flex-direction: column;
    }
    .header_text_h h1, .header_text_o h1 {
        font-size: 3rem;
    }
    .header_titlebox {
        font-size: 1.5rem;
    }
    .text_img_group {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
}
@media (max-width:670px) {
    /* all pages */
    .grid3fit {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem 1rem;
    }
    /* home page */
    .h_section2 {
        flex-direction: column;
    }
    .child_painting, .human_body {
        flex: auto;
        width: 100%;
        height: 16rem;
    }
    /* visit us page and information grid */
    .visit_g_one,.visit_g_two, .visit_g_three, .visit_g_four, .g_one, .g_two, .g_three, .g_four { /*opening hours*/
        grid-column:auto;
        grid-row: auto;
    }
    .visit_g_two { /*picture*/
        grid-column: 1;
        grid-row: 2/3;
    }
    .visit_g_three { /*prices */
        grid-column: 1;
        grid-row: 1/2;
    }
    .visit_g_four { /*button */
        font-size: 0.5rem;
    }
    .visit_g_four_spes {
        font-size: 1.3rem;
    }
}
@media (max-width:460px) {
    .header_text_h h1, .header_text_o h1 {
        font-size: 2rem;
    }
    .header_titlebox {
        font-size: 1.3rem;
    }
    
    .triangle { /*for triobutton section */
        display: none;
    }
}